/* global styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* display: block; */
}

@font-face {
    font-family: "odin-font";
    src: url(./assets/Norse-Bold.otf);
}

body {
    display: grid;
    grid-template-columns: min(35vw) 1fr;
    height: 100vh;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #f9fafb;
}
/* global styles end */

/* background image */
.bg-image {
    background-image: url(./assets/halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 35vw;
    position: relative;
}

.logo {
    padding: 0;
    margin: 0;
    position: absolute;
    width: 100%;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.6);
    top: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    flex: none;
    height: 100%;
    width: 100px;
    background-image: url(./assets/odin-lined.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.odin {
    font-family: "odin-font";
    color: white;
    font-size: 70px;
}

.bg-credit {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    opacity: 60%;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
}

/* background image end */

/* main content */
.main-content {
    display: flex;
    flex-direction: column;
}

header,
main,
footer {
    padding-left: 30px;
    padding-right: 100px;
}

/* header */
header {
    min-height: 180px;
    padding-top: 50px;
    font-weight: bold;
    font-size: large;
}

header > p:last-child {
    margin-top: 20px;
}
/* header end */

/* main */
main {
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #fff;
}

main > .heading {
    font-weight: bold;
    margin-bottom: 25px;
    color: #080a05;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input,
label {
    display: block;
    font-family: inherit;
    font-size: 100%;
    margin: 0;
    box-sizing: border-box;
    /* width: 100%; */
    padding: 5px;
    /* height: 30px; */
}

span {
    display: flex;
    gap: 30px;
}

label {
    font-size: 10px;
}

input {
    min-width: 300px;
    height: 1.5em;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
}

input + span {
    position: relative;
}

input + span::before {
    position: absolute;
    right: -20px;
    top: -25px;
}

input:invalid {
    border: 2px solid red;
}

input:invalid + span::before {
    content: "✖";
    color: red;
}

input:valid + span::before {
    content: "✓";
    color: green;
}

/* main end */

/* footer */
footer {
    min-height: 200px;
}

#sign-up-button {
    color: white;
    appearance: none;
    background-color: #596d48;
    font-weight: bold;
    font-size: medium;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 200px;
    margin: 30px 0;
}

footer > p {
    font-size: medium;
}

#login-button {
    color: #596d48;
    appearance: none;
    border: none;
    padding: none;
    margin: none;
    font-weight: bold;
    font-size: medium;
    background: transparent;
}

/* footer end */

/* main content end */
